body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

.header {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#473e5f+0,378fd9+1,207cca+100,2b2240+100 */
    background: #473e5f;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #473e5f 0%, #378fd9 1%, #207cca 100%, #2b2240 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #473e5f 0%, #378fd9 1%, #207cca 100%, #2b2240 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #473e5f 0%, #378fd9 1%, #207cca 100%, #2b2240 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#473e5f', endColorstr='#2b2240', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    padding-top: 63px;
}

.red {
    color: red;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.dream {
    color: white;
    width: 495px;
    margin-top: 158px;
    margin-right: 100px;
}

h1 {
    font-weight: 300;
}

h1 span {
    color: rgb(67, 219, 143);
    font-size: 59px;
    font-weight: 900;
    line-height: 50px;
}

.intro {
    width: 411px;
    margin-bottom: 46px;
    margin-top: 51px;
}

.btn {
    font-family: 'Montserat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #ed9619;
    color: white;
    border-radius: 100px;
    display: block;
    width: 250px;
    height: 58px;
    text-decoration: none;
    padding: 19px 0;
    text-align: center;
    /* margin-bottom: 319px; */
    transition: all .7s ease
}

.btn:hover {
    background: red;
    color: black;
}

.wait {
    background: white;
    padding-top: 115px;
    padding-bottom: 126px;
}

.waitings {
    display: flex;
    flex-direction: column;
    width: 302px;
}

.secondheader {
    text-align: center;
    margin-bottom: 82px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.waiting-title {
    margin-top: 38px;
    text-align: center;
}

.picture {
    margin: 0 auto;
}

.waiting-text {
    text-align: center;
}

.waitings-one {
    padding-top: 11px;
}

.waitings-tw {
    padding-top: 10px;
}

.waitings-three {
    padding-top: 0;
}

.ticket {
    background: #ecf3f8;
    padding-top: 112px;
    padding-bottom: 107px;
}

.ticket-input {
    width: 345px;
    height: 50px;
    margin-bottom: 17px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    text-align: center;
}

h2 .ticket {
    margin-bottom: 60px;
}

.btn-form {
    color: black;
    background-color: #ffd429;
    width: 345px;
    height: 50px;
    border-radius: 0;
}

.white-popup {
    position: relative;
    background: rgb(134, 241, 245);
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
}

footer {
    background-color: #164d7a;
    padding: 33px;
    color: white;
    text-align: center;
    border: none;
}